
@{
    ViewBag.Title = "New Book Upload";
    Layout = "";
}
@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
    )


<div class="col-md-9">
    <div class="panel panel-info" id="p5" data-panel-color="panel-info" data-panel-fullscreen="false" data-panel-title="false" data-panel-remove="false" data-panel-collapse="false">
        <div class="panel-heading ui-sortable-handle">
            
        </div>

        <div class="panel-body ">
            <div class="gallery animation-fadeIn">
                @using (Html.BeginForm())
                {
                    @Html.Action("FileManagerPartial")
                }

            </div>

      
        </div>
    </div>
</div>